OPENAI_API_KEY=""

# model name
OPENAI_MODEL_NAME=""

# firecrawl API KEY: tooling configuration : web scraping

FIRECRAWL_API_KEY=""

#Azure condifguration(deployment)
#postgresql (database) + blob storage

AZURE_POSTGRES_CONNECTION_STRING=""

AZURE_BLOB_STORAGE_CONNECTION_STRING=""

#langgraph: tracing / observability

LANGSMITH_API_KEY=""
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=multiagent-azure-crewai